name: Homebrew formula

on:
  release:
    types:
      - created

jobs:
  job:
    name: Homebrew formula
    runs-on: ubuntu-latest
    env:
      FORMULA: "Formula/radex.rb"
      SHA_REGEX: "[0-9a-f]{64}"
      TAG_REGEX: "v[0-9]+\\.[0-9]+\\.[0-9]+"
    steps:
      - uses: actions/checkout@v3
      - name: Update formula
        run: |
          TAG=${GITHUB_REF_NAME}
          TAR=${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/archive/${TAG}.tar.gz
          SHA=$(curl -sSL ${TAR} | shasum -a 256 | cut -d " " -f 1)
          sed -r -i.bak "s|${SHA_REGEX}|${SHA}|g" ${FORMULA}
          sed -r -i.bak "s|${TAG_REGEX}|${TAG}|g" ${FORMULA}
      - name: Push updates
        run: |
          TAG=${GITHUB_REF_NAME}
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git add ${FORMULA}
          git commit -m "Update formula for ${TAG}"
          git push
